.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
bootstrap/cache/*.php
bootstrap/cache/*.tmp
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
